<%- include('./partials/head') %>
<%- include('./partials/header') %>
<body>
    <main>
        <section>
            <h2>Thanks for your order <b><%= personalInformation.Firstname %></b></h2>
            <p>We sent the information to your email at: <b><%=  personalInformation.Email %> </b></p>
            <p>Your orderd the following:</p>
            <ul>
                <li><b>T-shirt:</b> </li>
                <ul>
                    <li>Gender: <%= personalInformation.Gender %></li>
                    <li>Size: <%= personalInformation.Size  %></li>
                    <li>Color: <%= personalInformation.Color %></li>
                    <li>Text: <%= personalInformation.Text %></li>
                </ul>
            </ul>
        </section>
       <a href="/" >Back to home</a>
    </main>


    <%- include('./partials/footer') %>

