<%- include('./partials/head') %>
<%- include('./partials/header') %>
<body>
    <main id="cartPage">
        <section>
            <h2>My Shopping cart</h2>
                   
            <div>
                <h2>Your Shoppingcart: </h2>
                <form class="emptyCart" method="post" action="/deleteCart">
                    <input type="submit" value="Empty Cart">
                </form>
                <hr>
                <% bestaandeShirtjes.forEach(shirtje => {   %> 
                    <ul class="shirtsList">
                <li><b>Gender:</b> <%= shirtje.gender %></li>
                <li><b>Size:</b> <%= shirtje.shirtSize %></li>
                <li><b>Color:</b> <%= shirtje.shirtColor %></li>
                <li><b>text:</b> <%= shirtje.textValue %></li>
                <li><a href="/?edit=<%= shirtje.id %>">Edit me</a></li>
                </ul>
               
                <hr>
                <% }) %>
            </div>
            <div>
                <div>
                    <a href="/">Make another T-shirt</a>
                </div>
                <%= errorMsg %>
                <h4>Order</h4>
                <%- include('./partials/checkout') %>
            </div>
        </section>
        <section>
           
        </section>
    </main>


    <%- include('./partials/footer') %>

