<%- include('./partials/head') %>
<%- include('./partials/header') %>
<body>
    <main>
        <section>
            <h2>My Shopping cart</h2>
                   
            <div>
                <h2>Your Shoppingcart: </h2>
                <form method="post" action="/deleteCart">
                    <input type="submit" value="Empty Cart">
                </form>
                <hr>
                <% bestaandeShirtjes.forEach(shirtje => {   %> 
                    <!-- <form method="post" action="/delete/<%= shirtje.id %>">
                        <input type="submit" value="Remove">
                    </form> -->
                    <ul>
                <li>Gender: <%= shirtje.gender %></li>
                <li>Size: <%= shirtje.shirtSize %></li>
                <li>Color: <%= shirtje.shirtColor %></li>
                <li>Text: <%= shirtje.textValue %></li>
                </ul>
                <hr>
                <% }) %>
            </div>
            <div>
                <div>
                    <a href="/">Maak nog een t-sirt</a>
                </div>
                <%= errorMsg %>
                <%- include('./partials/checkout') %>
            </div>
        </section>
        <section>
           
        </section>
    </main>


    <%- include('./partials/footer') %>

