<%- include('./partials/head') %>
<%- include('./partials/header') %>
<body>
    <main>
        <section>
            <h2>My Design Page</h2>
            <div>
                
                <% bestaandeShirtjes.forEach(shirtje => {   %> 
                    <ul>
                <li>Gender: <%= shirtje.gender %></li>
                <li>Size: <%= shirtje.shirtSize %></li>
                <li>Color: <%= shirtje.shirtColor %></li>
                <li>Text: <%= shirtje.textValue %></li>
                </ul>
                <a href="#">Edit this design</a>
<% })%>
               
                

            </div>
        </section>
        <section>
           
        </section>
    </main>


    <%- include('./partials/footer') %>

