<%- include('./partials/head') %>
<%- include('./partials/header') %>
<body>
    <main id="designPage">
        <section>
            <h2>My Design Page</h2>
            <div>  
                <% bestaandeShirtjes.forEach(shirtje => {   %> 
                    <ul class="shirtsList">
                <li><b>Gender:</b> <%= shirtje.gender %></li>
                <li><b>Size:</b> <%= shirtje.shirtSize %></li>
                <li><b>Color:</b> <%= shirtje.shirtColor %></li>
                <li><b>text:</b> <%= shirtje.textValue %></li>
                <li><a href="/?edit=<%= shirtje.id %>">Edit me</a></li>
                </ul>  <% })%>      
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>