<form method="POST" action="/bedankt">
    <input type="hidden" name="id" value="<%= shirtData.id%>" >
    <input type="hidden" name="gender" value="<%= shirtData.Gender%>" >
    <input type="hidden" name="shirtSize" value="<%= shirtData.Size%>" >
    <input type="hidden" name="shirtColor" value="<%= shirtData.Color%>" >
    <input type="hidden" name="textValue" value="<%= shirtData.Text%>" >
    <label> your name
        <input type="text" name="fname" required>
    </label>
    <label> your email
        <input type="email" name="email" required>
    </label>
    <input type="submit" value="Give my my nerdy shirt">
</form>


